body{
	height: 100%;
	width: 100%;
	background-image: url("/home/saatvik/Desktop/Papa's Pizza/pizza1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center bottom;;
}

